@font-face { font-family: Timer; src: url('CursedTimerUlil-Aznm.ttf'); } 

body {
    margin: 0;
    text-align: center;
}

.container {
    column-gap: 100px;
    background-color: #080001;
    width: 575px;
    height: 385px;
    border: 10px solid #9F1239;
    margin: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #080001;
    color: #FB7185;
}

.score-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px 40px;
}

.score{
    background-color: white;
    padding: 20px 10px;
    border: 3px solid #FB7185;
}

.increment{
    display: flex;
    justify-content: space-evenly;
}

.score-button{
    width: 50px;
    height: 40px;
    background-color: #080001;
    border: 3px solid #9F1239;
    font-weight: bold;
    font-family: Timer, sans-serif;
    color: #9F1239;
    font-size: 20px;
    margin: auto 2px;
    border-radius: 5px;
}

.score-button:hover{
    text-shadow: 0px 0px 7px #FB7185;

}

.score-button:active{
    transform: scale(1.03);
}
